<ion-view title="License Agreement">

      <ion-nav-bar class="bar-positive"></ion-nav-bar>
      <ion-content has-header="true" padding="true">

        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex a luctus rutrum. Maecenas vitae lorem sed mauris faucibus fermentum. Proin vel dapibus ligula, vel fringilla mauris. Nunc eleifend, felis vel consequat vehicula, ligula ipsum convallis mauris, non ornare metus velit sit amet neque. Vestibulum aliquam consequat ullamcorper. Nulla facilisi. Nam rutrum, augue vel lacinia faucibus, odio urna consectetur odio, hendrerit vehicula lectus metus sit amet ligula. Pellentesque ac elit risus. Etiam eleifend euismod enim non sodales. Aliquam erat volutpat. Suspendisse et vehicula erat. Praesent ut gravida erat. Praesent iaculis tellus sem, id rhoncus felis convallis in.

          Donec id odio vitae quam lacinia tincidunt. Ut mattis cursus urna id congue. In id nulla neque. Sed urna mi, mattis a eros sollicitudin, condimentum pharetra lacus. Cras eros diam, cursus eget neque et, rhoncus auctor nibh. Suspendisse fringilla urna mauris, quis maximus justo aliquet et. Sed eget hendrerit libero. Maecenas fringilla feugiat erat, eu tempor tellus semper ut. Ut quis ex pellentesque, mattis arcu sed, vestibulum tellus.


          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex a luctus rutrum. Maecenas vitae lorem sed mauris faucibus fermentum. Proin vel dapibus ligula, vel fringilla mauris. Nunc eleifend, felis vel consequat vehicula, ligula ipsum convallis mauris, non ornare metus velit sit amet neque. Vestibulum aliquam consequat ullamcorper. Nulla facilisi. Nam rutrum, augue vel lacinia faucibus, odio urna consectetur odio, hendrerit vehicula lectus metus sit amet ligula. Pellentesque ac elit risus. Etiam eleifend euismod enim non sodales. Aliquam erat volutpat. Suspendisse et vehicula erat. Praesent ut gravida erat. Praesent iaculis tellus sem, id rhoncus felis convallis in.

          Donec id odio vitae quam lacinia tincidunt. Ut mattis cursus urna id congue. In id nulla neque. Sed urna mi, mattis a eros sollicitudin, condimentum pharetra lacus. Cras eros diam, cursus eget neque et, rhoncus auctor nibh. Suspendisse fringilla urna mauris, quis maximus justo aliquet et. Sed eget hendrerit libero. Maecenas fringilla feugiat erat, eu tempor tellus semper ut. Ut quis ex pellentesque, mattis arcu sed, vestibulum tellus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean venenatis ex a luctus rutrum. Maecenas vitae lorem sed mauris faucibus fermentum. Proin vel dapibus ligula, vel fringilla mauris. Nunc eleifend, felis vel consequat vehicula, ligula ipsum convallis mauris, non ornare metus velit sit amet neque. Vestibulum aliquam consequat ullamcorper. Nulla facilisi. Nam rutrum, augue vel lacinia faucibus, odio urna consectetur odio, hendrerit vehicula lectus metus sit amet ligula. Pellentesque ac elit risus. Etiam eleifend euismod enim non sodales. Aliquam erat volutpat. Suspendisse et vehicula erat. Praesent ut gravida erat. Praesent iaculis tellus sem, id rhoncus felis convallis in.

          Donec id odio vitae quam lacinia tincidunt. Ut mattis cursus urna id congue. In id nulla neque. Sed urna mi, mattis a eros sollicitudin, condimentum pharetra lacus. Cras eros diam, cursus eget neque et, rhoncus auctor nibh. Suspendisse fringilla urna mauris, quis maximus justo aliquet et. Sed eget hendrerit libero. Maecenas fringilla feugiat erat, eu tempor tellus semper ut. Ut quis ex pellentesque, mattis arcu sed, vestibulum tellus.
        </p>

        <center><div> 
        <a class="button button-halfwidth" nav-clear ui-sref="home">Agree</a>
        <a class="button button-halfwidth pull-right" nav-clear ng-click="disagree()">Disagree</a><div></center> 
        
      </ion-content>
      <ion-footer-bar align-title="left" class="bar-positive">
     
      </ion-footer-bar>

    </ion-view>